PORT=5000
SOLANA_RPC_URL=env-var-solana-rpc-url
SOLANA_RPC_URL_HELLO_MOON_FEE_CHECKER=https://rpc.hellomoon.io/....-hello-moon-rpc-used-for-checker 
SOLANA_RPC_TRANSACTION_URL=https://....-rpc-used-for-transactions-only-__ifMiss_..["SOLANA_RPC_URL"]...-willBeUsed
SOLANA_WALLET_SECRET_KEY=env-var-solana-wallet-secret-key
OWNER_WALLET=env-var-star-atlas-player-profile
TRANSACTION_RETRY_COUNT=3
TRANSACTION_RETRY_SECONDS=10
LT_STORAGE=/../../scripts/data/
TRANSACTION_PRIORITY_FEE_ENABLE=1
TRANSACTION_PRIORITY_FEE_LIMIT=100000
TRANSACTION_PRIORITY_FEE_MIN_CHANCE=95
TRANSACTION_PRIORITY_FEE_LOCKBACK_SLOTS=100
TRANSACTION_PRIORITY_FEE_INCREASE_STEP=25000
TRANSACTION_PRIORITY_FEE_CAP=50000
TRANSACTION_PRIORITY_FEE_INCREASE_BASE_FEE=0

SAGE_PROGRAM_ID=

### HOLOSIM GLOBALS

## Atlasnet RPC 
ATLASNET_RPC_URL=https://rpc.ironforge.network/devnet?apiKey=01JEB7YQ0YPK31WQTC0VQ5Y9YP
ATLASNET_RPC_TRANSACTION_URL=https://rpc.ironforge.network/devnet?apiKey=01JEB7YQ0YPK31WQTC0VQ5Y9YP

